<div class="profile">
  <div *ngIf="userProfile">
    <h2>{{ userProfile.pseudo }}'s Profile</h2>
    <div *ngIf="isEditing; else viewMode">
      <input [(ngModel)]="editedUserProfile.pseudo" placeholder="Pseudo" />
      <input [(ngModel)]="editedUserProfile.email" placeholder="Email" />
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="saveProfile()">Save</button>
      <button (click)="toggleEdit()">Cancel</button>
    </div>
    <ng-template #viewMode>
      <p>Email: {{ userProfile.email }}</p>
      <!-- Afficher avatar avec une image par défaut si non disponible -->
      <img *ngIf="userProfile.avatarUrl; else defaultAvatar" [src]="userProfile.avatarUrl" alt="Avatar" />
      <ng-template #defaultAvatar>
        <img [src]="defaultAvatarUrl" alt="Avatar par défaut" />
      </ng-template>
      <button (click)="toggleEdit()">Edit</button>
    </ng-template>
  </div>
</div>