<div class="ludotheque-wrapper">
  <div class="ludotheque-ami-content">
    <h1>Gammes de votre ami</h1>

    <div *ngIf="loading" class="loading">Chargement en cours...</div>
    <div *ngIf="!loading && errorMessage" class="error">{{ errorMessage }}</div>

    <div *ngIf="!loading && gammes.length > 0" class="gammes-container">
      <div *ngFor="let gamme of gammes" class="gamme-card">
        <h3 class="gamme-title">{{ gamme.nom }}</h3>
        
        <button class="gamme-cta" (click)="ouvrirPageGamme(gamme.id!)">Voir les ouvrages</button>
      </div>
    </div>
  </div>
</div>
