<div class="presentation-container">
  <h1>Bienvenue sur JdrBibli !</h1>
  <p>
    JdrBibli est votre bibliothèque en ligne dédiée aux jeux de rôle sur table.  
    Gérez facilement votre ludothèque personnelle, partagez vos coups de cœur,  
    et découvrez de nouveaux ouvrages pour vos prochaines parties.  
  </p>
  <p>
    Que vous soyez un joueur débutant ou un maître de jeu expérimenté,  
    notre plateforme vous offre un espace convivial pour organiser et enrichir  
    votre univers ludique.
  </p>

  <button (click)="goToLogin()">Connexion</button>
</div>
